@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #1a1a1d;
    --white: #ffffff;
    --gray: #737373;
    --red: #e00425;


}

input {
    @apply bg-black text-white border border-white px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-white;
}